@if (user()) {
<div class="flex flex-col h-screen bg-gray-900 text-gray-200 font-sans">
  <app-header 
    (viewChanged)="handleViewChange($event)" 
    (globalNotesToggled)="toggleGlobalNotes(true)"
    [currentView]="currentView()">
  </app-header>
  
  <main class="flex-grow p-2 overflow-y-auto">
    <div class="max-w-7xl mx-auto">
      @switch (currentView()) {
        @case ('monthly') {
          <app-monthly-report></app-monthly-report>
        }
        @case ('summary') {
          <app-summary-view></app-summary-view>
        }
        @case ('import-export') {
          <app-import-export></app-import-export>
        }
        @case ('calculator') {
          <app-calculator></app-calculator>
        }
      }
    </div>
  </main>
</div>

@if(showGlobalNotes()) {
  <app-global-notes (close)="toggleGlobalNotes(false)"></app-global-notes>
}
} @else {
  <app-login></app-login>
}
